:root {
  --navbar-brand-color: #ffffff;
  --background-color: #212121;
  --password-strength-fraca: red;
  --password-strength-média: yellow;
  --password-strength-forte: green;
  --button-text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--button-text-color);
}

.navbar {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-brand {
  color: var(--button-text-color);
  background-color: var(--background-color);
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
}

.container {
  color: var(--button-text-color);
  margin-top: 70px;
  padding: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  color: var(--button-text-color);
}

p {
  margin-top: 30px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 1.2rem;
  color: var(--button-text-color);
}

#passwordStrength {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.password-strength-fraca {
  color: var(--password-strength-fraca);
}

.password-strength-média {
  color: var(--password-strength-média);
}

.password-strength-forte {
  color: var(--password-strength-forte);
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  width: 100%;
}

.github-icon {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

footer p {
  color: var(--button-text-color);
  display: inline-block;
  margin-left: 10px;
}

button {
  background-color: #1a193a;
  color: var(--button-text-color);
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}